@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#search-bar {
    box-shadow: 0px 0px 20px 5px #6c757d;

}

.light {
    --DrilledBackground: 200, 245, 245;
}

.dark {
    --DrilledBackground: 245, 100, 245;
}